<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
        </staticContent>
        <defaultDocument>
            <files>
                <add value="app.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>			
				<clear />
				<rule name="BlockAccessToPublic" patternSyntax="Wildcard" stopProcessing="true">
				  <match url="*" />
				  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
					<add input="{URL}" pattern="/web/*" />
				  </conditions>
				  <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
				</rule>
				<rule name="RewriteAssetsToPublic" stopProcessing="true">
				  <match url="^(.*)(\.css|\.js|\.jpg|\.png|\.gif)$" />
				  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
				  </conditions>
				  <action type="Rewrite" url="web/{R:0}" />
				</rule>
				<rule name="RewriteRequestsToPublic" stopProcessing="true">
				  <match url="^(.*)$" />
				  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
				  </conditions>
				  <action type="Rewrite" url="web/app.php/{R:0}" />
				</rule>
				<!--
                <rule name="Rewriter" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions>
                        <add input="{R:1}" pattern="^(app\\.php|favicon\\.ico)" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="./app.php/{R:1}" appendQueryString="true" />
                </rule>
				-->
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
